.customers {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 250px; /* Adjust width to fit the image */
  height: 260px; /* Adjust height to fit the image */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  margin-bottom: 20px;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.chart img{
  padding-left: 25px;
}

.donut {
  width: 70%; /* Adjust based on your design */
  height: 70%; /* Adjust based on your design */
}

.donut-segment1 {
  transform: rotate(0deg);
}

.donut-segment2 {
  transform: rotate(65deg);
}
