.sidebar {
  width: 250px;
  background-color: #1f183e;
  color: white;
  padding: 20px;
  text-align: center;
  
}

.menu li {
  margin: 10px 0;
  cursor: pointer;
  list-style: none;
  padding-right: 20px;
}
.menu{
  height:500px;
  padding-left:10px;
}
.menu .active {
  font-weight: bold;
  background-color:rgb(94, 87, 112);
  border-radius: 10px;
  padding:5px 10px
  
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile span,
.profile small {
  display: block;
}
